node_modules/
dist/
.env
.env.local
*.env
app/node_modules/
app/dist/
repo/framework-control/service/target/
*.log
.DS_Store
Thumbs.db
app/electron/
app/README.md
app/src-tauri/.cargo/config.toml
app/src-tauri/target/
